<div id="todos-list">
	<table>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Actions</th>
		<tr>
		{{#each Todoslist}}
		<tr
			style="
				{{#if this.Status}} background:green; {{else}} background: red; {{/if}}
			">
			<td><p>{{this.Name}}</p></td>
			<td>{{#if this.status}} Done {{else}} Not Done {{/if}}</td>
			<td><input type="button" value="(done)" hx-get="/done?todo-id={{this.id}}" name="todo-done" hx-target="#todos-list" /><input type="button" value="x" hx-get="/del?todo-id={{this.id}}" name="todo-name" hx-parmas="" hx-target="#todos-list"/></td>
		</tr>

		{{/each}}
	</table>
</div>


